<%= header %>
<div class='content-container'>
<div class='row'>
  <div class='col-sm-8'>
    <div class="page-header">
      <h1>About<small>What is this thing?</small></h1>
    </div>
    <p>HoGLAN is a private LAN Party being run in Sheffield from 
    Thursday 31st October – Sunday 3rd November. We are a group of 
    gamers that play a wide variety of games. These games include 
    but are definitely not limited to League of Legends, 
    Supreme Commander 2, Natural Selection 2, Civilisation 5, 
    Armagetron, Artemis, World of Warcraft, Eve Online and many more.</p>

    <p>We are asking for a contribution of £40 per day from any 
    attending HoG member towards the cost of running the event.</p>
  </div>
  <div class='col-sm-4'>
    <div class="page-header">
      <h1>Twitter</h1>
      <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/HoGLANGaming"  data-widget-id="485409998780895232">Tweets by @HoGLANGaming</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
  </div>
</div>
</div>
<%= footer %>
