<%= header %>
<div class='content-container'>
<div class='row'>
  <div class='col-sm-8'>
    <div class="page-header">
      <h1>About<small>What's this thing all about?</small></h1>
    </div>
    <p>
      HoGLAN is a new social LAN Party, running twice a year around the Easter and Halloween weekends.  With a focus on the social side of gaming, this event aims to deliver a more relaxed take on the traditional hypercompetitive LAN party.   
    </p>
    <p>
      Whether enjoying a pint with friends in the gaming bar, making new ones at the munchkin table or firing nerf darts at the organisers, we can guarantee a unique experience that will leave you wanting more.
    </p>

    <p>We ask for a contribution of £40 for the event from everyone attending.</p>
    <p>Please note HoGLAN is currently a private gathering attendance is invite
    only</p>
  </div>
  <div class='col-sm-4'>
    <%= sidebar %>
  </div>
</div>
</div>
<%= footer %>
