<%= header %>
<div class='content-container'>
<div class='row'>
  <div class='col-sm-8'>
    <div class="page-header">
      <h1>About<small>What's this thing all about?</small></h1>
    </div>
    <p>HoGLAN is a social <a href=''>LAN Party</a> currently in private beta. The parties are held
    twice a year around Easter and Halloween. 
    We are a group of gamers that play a wide variety of games. These games include 
    but are definitely not limited to League of Legends, 
    Supreme Commander 2, Natural Selection 2, Civilisation 5, 
    Armagetron, Artemis, World of Warcraft, Eve Online and many more.</p>

    <p>We ask for a contribution of £40 for the event from everyone attending.</p>
    <p>Please note HoGLAN is currently a private gathering attendance is invite
    only</p>
  </div>
  <div class='col-sm-4'>
    <%= sidebar %>
  </div>
</div>
</div>
<%= footer %>
