<%= header %>
<div class='content-container'>
<div class='row'>
  <div class='col-sm-8'>
    <div class="page-header">
      <h1>Activities<small>Whats going on?</small></h1>
    </div>
    <p>As well as playing plenty of games there is other organised entertainment
    throughout the weekend including,
      <ul>
        <li>Pub Quiz</li>
        <li>Film Night - if we hit 25 attendees!</li>
        <li>HoG Hog Roast - Great pork sarnies at least!</li>
        <li>TableTop Gaming Session</li>
        <li>League of Legends Tournament</li>
        <li>Hearthstone Tournament</li>
        <li>Nidhogg Tournament</li>
      </ul>
  </div>
  <div class='col-sm-4'>
    <%= sidebar %>
  </div>
</div>
</div>
<%= footer %>
