<%= header %>
<div class='content-container'>
<div class='row'>
  <div class='col-sm-8'>
    <div class="page-header">
      <h1>Checklist<small>Stuff to bring with you!</small></h1>
    </div>
      <ul>
        <li>Update and install all games you want to play</li>
        <li>Base Unit</li>
        <li>Monitor</li>
        <li>DVI / HDMI Monitor cables</li>
        <li>Mouse</li>
        <li>Keyboard</li>
        <li>Headphones</li>
        <li>Kettle Leads (Power Cables for base unit and monitor)</li>
        <li>Power Strip (4-way)</li>
        <li>Airbed/Sleeping Mat</li>
        <li>Sleeping Bag</li>
        <li>Pillow</li>
        <li>Washkit</li>
        <li>Towel</li>
        <li>Clothes</li>
        <li>Batteries (if needed)</li>
        <li>Keys</li>
        <li>Wallet</li>
        <li>Cash</li>
        <li>Swimming Kit (if you want to go swimming)</li>
      <li>Phone &amp; Charger</li>
      </ul>
  </div>
  <div class='col-sm-4'>
    <%= sidebar %>
  </div>
</div>
</div>
<%= footer %>
