<%= header %>
<div class='container'>
  <div class='content-container'>
    <div class='row'>
      <div class='col-sm-8'>
        <div class="page-header">
          <h1>Exhibiting<small>Showing off your stuff.</small></h1>
        </div>
        <p>HoGLAN isn't complete without the continuous stream of party games
        being played on the Windows 10 Steambox. Setup on the main projector the games
        are always visible to the whole LAN. We welcome developers looking
        to show off their latest games either before or after release.</p>

        <h3>What do you need to do?</h3>
        <p>Provide a version of your game that is playable on Windows 10 with
        steam big picture mode. Additionally you can provide leaflets to distribute
        in the social gaming area in front of the projector.</p>
        <p>
          If your game is already on Steam you can provide time limited access to
          the HoGLAN Gaming steam account. Alternatively ensure that your game works
          on Windows 10 in Steam big picture mode and we can add it as a 3rd party
          title.
        </p>
        <p>If your interested please contact us via
           <a href='mailto:enquiries@hoglan.eu'>enquiries@hoglan.eu</a>.</p>

        <h3>What we will do</h3>
        <p>We'll Add your game beta to our steambox, which all LAN attendees have access to.
        If you can provide leaflets then we will distribute these in the social
        gaming area in front of the steambox.</p>

        <h3>What about security?</h3>
        <p>
          While we can not guarantee that leaks will not happen. Your game will
          only be stored on a Steambox which is secured in a staff only server cupboard. No
          attendees will have any direct access to the physical machine. The machine
          will always be in Steam big picture mode and there will always be a staff
          member awake on site.
        </p>

        <h3>What we can't do</h3>
        <p>Provide technical support for the game. If it doesn't work people
        will likely play other games. While we'd like to make sure every
        game works perfectly we are busy running a LAN party and won't have time
        to help debug problems with any games provided.</p>
      </div>
      <div class='col-sm-4 hidden-xs'>
        <%= sidebar %>
      </div>
    </div>
  </div>
</div>
<%= footer %>
