<%= header %>
<div class='content-container'>
<div class='row'>
  <div class='col-sm-8'>
    <div class="page-header">
      <h1>FAQ<small>I've got some questions?</small></h1>
    </div>
    <h3>
      How do I get tickets?
    </h3>
    <p>
      Tickets will be available soon from this site!
    </p>
    <h3>
      I’ve been Playing Civilisation  for 36 Hours - Where Can I Sleep?
    </h3>
    <p>
      We have a dedicated sleeping area, separate from the main LAN room 
      and gaming bar. We recommend bringing an air mattress / camp bed, 
      sleeping bag and pillow – or fighting over one of the sofas! 
      While attendees are very considerate towards the beauty sleep of 
      others we do recommend ear plugs in order to secure the best quality 
      shut-eye.
    </p>
    <p>
      Please be aware that sleeping space is limited and attendees bringing
      double airbeds may not have enough room.
    </p>
    <h3>
      I Can’t Survive on LAN Alone - What Will I Eat?
    </h3>
    <p>
      HoGLAN sports a tuck-shop selling a variety of drinks and snacks. 
      A dizzying array of local takeaways will also deliver to the venue. 
      HoGLAN also often runs scheduled food events including the 
      ‘HoG Hog Roast’. Failing that, HoGLAN is situated a stone’s throw 
      away from the centre of Sheffield, with plenty of supermarkets, 
      restaurants and bars within walking (or staggering) distance. 
      Eating fellow attendees is discouraged.
    </p>

    <h3>
      I Smell Of Win – Where Can I Wash?
    </h3>
    <p>
      There is a free shower available for use at the venue. Along with an 
      <a href='/activities'>organised trip</a> to a local leisure centre 
      for a swim and shower.
    </p>

    <h3>
      I’m Bored Of Video Games – What Else Is There To Do?
    </h3>
    <p>
      Lots!  Between the pub quizzes, movie nights, meals out, swimming, 
      board games, and nerf wars we sometimes forget to get any gaming done! 
      For more information please consult the 
      <a href='/activities'>activities</a>.
    </p>
    <h3>
      I’ve Pimped My Rig – What About Security?
    </h3>
    <p>
      Entrance to the venue is through a single route that is clearly
      visible to all attendees. The venue has CCTV throughout, the 
      external doors are locked from the outside at night. The organisers
      do their best to ensure someone is always awake to keep an eye on the equipment.
    </p>
    <p>
      Your equipment is left at your own risk, the 
      organisers can not be held responsible for any loss or damage.
    </p>
    <h3>
      Public Transport Smells of Wee – Is There Parking For My Marvellous Car?
    </h3>
    <p>
      Yes there is, however please let the organisers know ahead of time if
      you will be bringing one so they can ensure that enough spaces are available.
    </p>
    <p>Please note parking may be limited on business days</p>

  </div>
  <div class='col-sm-4'>
    <%= sidebar %>
  </div>
</div>
</div>
<%= footer %>
