<%= header %>
<div class='content-container'>
<div class='row'>
  <div class='col-sm-8'>
    <div class="page-header">
      <h1>Games List<small>Games to play!</small></h1>
    </div>
    <p>This is a list of the games that are likely to get play time at HoGLAN, 
    make sure you have these installed for the event if you own them. If a 
    game you want to play isn&#8217;t on the list bring it along its quite easy
    to get people to start playing!</p>
    <ul>
      <li>League of Legends</li>
      <li>Supreme Commander 2</li>
      <li>Planetary Annihilation</li>
      <li>Civilisation</li>
      <li>Heartstone</li>
      <li>Armagetron</li>
      <li>Artemis</li>
      <li>Worms Revolution</li>
      <li>World of Warcraft</li>
      <li>Natural Selection 2</li>
      <li>Eve Online</li>
      <li>Team Fortress 2</li>
      <li>Kerbal Space Program</li>
      <li>War Thunder</li>
      <li>Nidhogg</li>
    </ul>
  </div>
  <div class='col-sm-4 hidden-xs'>
    <%= sidebar %>
  </div>
</div>
</div>
<%= footer %>
