<%= header %>
<div class='content-container'>
<div class='row'>
  <div class='col-sm-8'>
    <div class="page-header">
      <h1>Location<small>Where to go?</small></h1>
    </div>
    <p>HoGLAN is hosted at CAD’s in Sheffield, United Kingdom.</p>
    <address>
      <strong>Creative Arts Development Space</strong><br>
      Smithfield<br>
      Sheffield<br>
      United Kingdom<br>
      S3 7AR<br>
    </address>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2379.5817302988157!2d-1.4747299999999999!3d53.386533!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4879787e73ed5613%3A0xd2f4aec36a78f403!2sCADS+-+Creative+Arts+Development+Space!5e0!3m2!1sen!2s!4v1404588823227" width="100%" height="442"  frameborder="0" style="border:0"></iframe>
  </div>
  <div class='col-sm-4'>
    <%= sidebar %>
  </div>
</div>
</div>
<%= footer %>
