
@import 'stickyfooter.less';
@import '../../../bower_components/bootstrap/less/bootstrap.less';

@body-bg: #000;
@grid-gutter-width: 0px;
@brand-primary: #ff3a00;
@gray-dark: #fff;

@buffer-size: 30px;

.page-header {
  text-align: center;
  border: none;
}

.buffer-top {
  margin-top: @buffer-size;
}

.buffer-bottom {
  margin-bottom: @buffer-size;
}

.buffer-right {
  margin-right: @buffer-size;
}

.buffer-left {
  margin-left: @buffer-size;
}

.lead {
  font-family: 'Titillium Web', sans-serif;
  font-size: 340%;
  padding: 0px;
  margin: 0px;
}

.sublead {
  color: @brand-primary;
  font-family: 'Kaushan Script', cursive;
  font-size: 200%;
  padding-bottom: 20px;
}

.subtitle {
  text-transform: uppercase;
  font-family: 'Titillium Web', sans-serif;
  font-size: 120%;
}

.page-header {
  margin-top: 15px;
}
