@import 'stickyfooter.less';
@import '../../../bower_components/bootstrap/less/bootstrap.less';

@body-bg: #1c1c1c;
@grid-gutter-width: 50px;
@brand-primary: #ff3a00;
@gray-dark: #fff;
@text-color: #000;
@layout-text-color: #fff;

@border-radius-base: 0px;
@border-radius-large: 0px;
@border-radius-small: 0px;

@buffer-size: 30px;

body {
  padding-top: 70px;
  font-family: "Titillium Web",sans-serif;
}

.home-content {
  .col-sm-4 {
    padding: 0px;
  }
}

.page-header {
  text-align: center;
  border: none;
  margin-top: 15px;

  .lead {
    font-family: 'Titillium Web', sans-serif;
    font-size: 340%;
    padding: 0px;
    margin: 0px;
    color: @layout-text-color;
  }

  .sublead {
    color: @brand-primary;
    font-family: 'Kaushan Script', cursive;
    font-size: 200%;
    padding-bottom: 30px;
    padding-top: 15px
  }

  .subtitle {
    color: @layout-text-color;
    text-transform: uppercase;
    font-family: 'Titillium Web', sans-serif;
    font-size: 120%;
  }
}

.main-wrap {
  margin-bottom: 120px;
}

.buffer-top {
  margin-top: @buffer-size;
}

.buffer-bottom {
  margin-bottom: @buffer-size;
}

.buffer-right {
  margin-right: @buffer-size;
}

.buffer-left {
  margin-left: @buffer-size;
}

@media (min-width:1200px){
	.container {
    padding-left: 8px
	}
}

@media (min-width:992px){
	.container {
    padding-left: 8px
	}
}

@media (min-width:768px){
	.container {
    padding-left: 8px
	}
}

.container {
  padding-left: 0px;
  padding-right: 0px
}

@media (max-width: 768px) {
  .navbar-brand {
    padding-left: 50px
  }

  .navbar-nav li a {
    padding-left: 50px
  }

  .navbar-toggle {
    margin-right: 50px
  }
}

.content-container {
  background-color: @gray-dark;
  border-top: 5px solid @brand-primary;
  min-height: 705px;
  font-size: 140%;
  padding-left: 25px;
  padding-right: 25px;

  h3 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 140%;
    margin-top: 40px;
  }

  .page-header {
    text-align: left;
    margin-bottom: 30px;
    border-bottom: 2px solid #ccc;

    h1 {
      font-family: 'Titillium Web', sans-serif;
      font-size: 250%;
      small {
        padding-left: 1em;
        font-size: 40%;
      }
    }
  }

  p {
    margin: 0px 0px 25px;
  }

  padding-bottom: 50px;
}

.title-image {
  .img-responsive();
  margin: 0 auto;
}

.navbar {
  font-size: 125%;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow:    0px 3px 10px 0px rgba(0, 0, 0, 0.5);
  box-shadow:         0px 3px 10px 0px rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid #aaa !important;
}

.navbar-brand {
  color: #222 !important;
  font-weight: bold;
}

@media only screen and (max-width : 768px) {
  .main-wrap {
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 0px;
  }
  
  .page-header small {
    display: none;
  }
}